<!-- 
<div class="row footer">
    <div class=""
</div> -->
<footer >
  <div class="footeroverlay">
    <div class="row footer">
      <div class="col-sm-6 col-md-2">
        <div>
          <h3>NAVIGATION LINKS</h3>
          <li><a href="#">Home</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Price</a></li>
          <li><a href="#">About</a></li>
        </div>
      </div>
      <div class="col-sm-6 col-md-2">
        <div>
          <h3>NAVIGATION LINKS</h3>
          <li><a href="#">Home</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Price</a></li>
          <li><a href="#">About</a></li>
        </div>
      </div>
      <div class="col-sm-6 col-md-2">
        <div>
          <h3>NAVIGATION LINKS</h3>
          <li><a href="#">Home</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Price</a></li>
          <li><a href="#">About</a></li>
        </div>
      </div>
      <div class="col-sm-6 col-md-2">
        <div>
          <h3>NAVIGATION LINKS</h3>
          <li><a href="#">Home</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Price</a></li>
          <li><a href="#">About</a></li>
        </div>
      </div>
      <div class="col-sm-6 col-md-2">
        <div>
          <h3>NAVIGATION LINKS</h3>
          <li><a href="#">Home</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Price</a></li>
          <li><a href="#">About</a></li>
        </div>
      </div>
    </div>
  </div>
</footer>
