.image_1 {
  position: relative;
}
.figure {
  background-color: #364044;
  position: relative;
  width: 100%;
}
.all_rights_footer {
  padding-left: 14vh;
  padding-top: 2vh;
  font-size: 4vh;
}

.seller_h2 {
  position: absolute;
  top: 11%;
  padding-left: 8%;
  width: 100%;
  font-size: 2.6vw;
  font-weight: 400;
  z-index: 10;
}

.image__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #2a5f72;
  color: white;
  opacity: 0.9;
}

.row_footer {
  margin-right: 0;
  margin-left: 0;
}
