.row {
  margin: 0px;
}
.login-page {
  /* top: 0;
  
  padding: 0;
  width: 100%;
  height: 100%;
  display: block; */
  background-color: rgba(0, 0, 0, 0.04);
  background-position: center;
  /* background-repeat: no-repeat;
  background-size: cover; */
  /* overflow: hidden; */
  /* margin-bottom: 100px; */
}
.title_card_1 {
  color: white;
  margin-top: 14%;
}
.icon_for_y_buy_from_Green_tiger {
  padding-left: 41%;
  padding-bottom: 16%;
}
.button_card_1 {
  background-color: rgba(255, 0, 0, 0.904);
  color: white;
  font-size: 16px;
  margin-left: 20px;
  border: none;
  padding-left: 7%;
  padding-right: 7%;
  border-radius: 13px;
  box-shadow: 0px 12px 19px rgba(240, 90, 53, 0.952);
}
.subtitle_card_1 {
  color: white;
  /* margin-top: 4%; */
  font-size: 25px;
}

.card_around_1 {
  margin-top: 2%;
  /* background-color: rgb(48, 123, 142); */
  background-color: #2a5f72;
  margin-left: 1%;
  margin-right: 1%;
}
.image_card1 {
  margin: 3%;
}
img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}
.card-image {
  object-fit: cover;
}
.text_line2_allin {
  margin-top: 2%;
}
.text_line2 {
  font-size: 32px;
  font-weight: 600;
  color: #000000;
  opacity: 1;
  font-family: "Roboto";
}
.text_line3 {
  font-size: 25px;
}

.select_city {
  background-color: transparent;
  border-radius: 0;
  width: 100%;
  padding: 7px;
  margin-top: 11%;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  outline-style: none;
  margin-left: 0%;
}
.navbar-search {
  margin-left: 10px;
  margin-top: 3%;
  height: 50px;
  width: 95%;
  outline: 0px;
}
.navbar-input {
  font-size: 15px;
  width: 100%;
  margin-right: 0%;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  border-bottom: 1px solid black;
  outline: 0px;
  height: 32px;
  border-radius: 0px;
  background-color: transparent;
}
.button_card_2 {
  background-color: #2a5f72;
  color: white;
  font-size: 16px;
  margin-left: 20px;
  border: none;
  padding-left: 7%;
  padding-right: 7%;
  border-radius: 13px;
  margin-top: -14%;
  margin-left: 76%;
}

hr {
  background-color: red;
  /* margin-left: 5%; */
}

.categories {
  color: #2a5f72;
  font-size: 44px;
  margin-top: -1%;
  text-align: center;
  margin-left: -5%;
  margin-right: -5%;
}
.iamgeInsideCards {
  margin-top: 4%;
  font-family: "Roboto";
  color: #000000;
  opacity: 1;
}

.card_line_2_padding {
  padding: 15px 15px;
}

.card_line_3 {
  padding: 6px;
}
.card_line_3_background {
  background-color: #2a5f72;
  color: white;
  min-height: 100%;
}
.fonts {
  font-size: 29px;
  font-family: "Roboto";
  color: #ffffff;
  opacity: 1;
}
.colnew10 {
  width: 10%;
}
.t-center {
  letter-spacing: 3.3vw;
}

.imageContainer {
  width: 200px;
  height: 200px;
  background-size: cover;
  background-image: url("../../assets/tempsnip.png");
}

.image {
  position: relative;
  width: 100%; /* for IE 6 */
}

h2 {
  position: absolute;
  top: 37%;
  width: 100%;
  font-size: 39px;
  font-weight: 500;
}
h1 {
  position: absolute;
  top: 46%;
  width: 100%;
  font-size: 39px;
  font-weight: 400;
}

.new_buy {
  left: 0%;
  padding-left: 69%;
  font-size: 2.6vw;
  font-weight: 500;
  font-family: "Roboto";
  color: #000000;
  opacity: 1;
}
.seller_h1 {
  position: absolute;
  top: 30%;
  padding-left: 8%;
  width: 100%;
  font-size: 2.5vw;
  font-weight: 500;
  font-family: "Roboto";
  color: #000000;
  opacity: 1;
}

.seller_h2 {
  position: absolute;
  top: 11%;
  padding-left: 8%;
  width: 100%;
  font-size: 2.6vw;
  font-weight: 600;
  font-family: "Roboto";
  color: #000000;
  opacity: 1;
}

.button_create_buyer_account {
  background-color: #2a5f72;

  font-size: 16px;

  border: none;
  padding-left: 3%;
  padding-right: 3%;
  border-radius: 13px;
  margin-top: -23%;
  margin-left: 69%;
  padding-top: 1%;
  padding-bottom: 1%;
  position: absolute;
  color: #ffffff;
  opacity: 1;
  font-family: "Roboto";
}
.all_rights_footer {
  padding-left: 2vw;

  font-size: 2vw;
}

.button_seller_buyer_account {
  background-color: #2a5f72;
  /* color: white; */
  font-size: 16px;
  border: none;
  padding-left: 3%;
  padding-right: 3%;
  border-radius: 13px;
  margin-top: -11%;
  margin-left: 8%;
  padding-top: 1%;
  padding-bottom: 1%;
  position: absolute;
  color: #ffffff;
  opacity: 1;
  font-family: "Roboto";
}
.image_1 {
  position: relative;
  background: #295f73;
}
.list_heading {
  font-size: 23px;
  font-weight: 570;
  color: #ffffff;
  opacity: 1;
}
.image__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  opacity: 1;
}
.font-size {
  font-size: 1.5vw;
  font-family: "Roboto";
}

.flex {
  padding-left: 27vw;
  font-size: 2vw;
}
.spcing_icons {
  letter-spacing: 1vw;
}

.slider_banner {
  background: #2a5f72 0% 0% no-repeat padding-box;
  border-radius: 472px 0px 0px 472px;
  opacity: 1;
  width: 100%;
  height: 437px;
}
.slider_orange {
  background: #d56d2e 0% 0% no-repeat padding-box;
  opacity: 1;
  width: 569px;
  height: 174px;
  top: 100px;
  left: -36px;
  border-width: 70px 90px 0px;
  border-style: solid;
  border-color: #abefcd transparent transparent;
}
.slider_orange_div {
  padding-top: 5%;
  padding-left: 19%;
}

#pentagon {
  position: relative;
  width: 92%;
  border-width: 0px 0px 125px;
  border-style: solid;
  border-color: #d56d2e transparent;
}
#pentagon:before {
  content: "";
  position: absolute;
  height: 0;
  width: 100%;
  top: 124px;
  left: -1px;
  border-width: 20px 316px 0px;
  border-style: solid;
  border-color: #d56d2e transparent transparent;
}

.padding_images {
  padding-top: 9%;
  padding-left: 26%;
  position: relative;
  left: -6%;
}
.slider_icons {
  padding-top: 18%;
  padding-left: 14%;
  width: 56px;
  height: 56px;
}
.icons_border {
  width: 73px;
  height: 73px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  border-radius: 50%;
  opacity: 1;
}
.silder_p {
  color: white;
  padding-left: 5%;
  padding-top: 5%;
  font-family: "Roboto";
  font-size: 20px;
}
.hand_image {
  position: relative;
  left: 26.2vw;
  padding-top: 47%;
}
.scooter {
  position: relative;
  top: 49%;
}
.newclass35 {
  position: relative;
  margin-top: -14%;
  margin-left: 20%;
  color: white;
  font-size: 3vw;
}

@media only screen and (min-width: 62em) {
  .sahiltag {
    flex-basis: 25%;
    max-width: 25%;
    padding: 0px;
  }
}
@media screen and (min-width: 1350px) {
  .t-center {
    letter-spacing: 3.6vw;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1300px) {
  .button_card_2 {
    margin-top: -10%;
  }
}
@media screen and (min-width: 1300px) and (max-width: 1600px) {
  .button_card_2 {
    margin-top: -7%;
  }
}
@media screen and (min-width: 1500px) {
  .newclass35 {
    margin-top: -12%;
  }
}
