<div class="login-page">
  <!-- navbar  -->
  <app-navbar></app-navbar>
  <!-- card-1 -->
  <div>
    <div class="card card_around_1">
      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <div class="card-content">
            <p class="title title_card_1">
              Second Hand Premium <br />Bikes Here
            </p>

            <p class="subtitle subtitle_card_1">
              Buy Your Bike <br />Easy & Affordable
            </p>
          </div>
          <button class="button button_card_1">Details</button>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <div class="card image_card1">
            <div class="card-image">
              <figure>
                <img src="assets/bike.png" alt="Placeholder image" />
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row center-xs center-lg center-md center-sm">
    <div class class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text_line2_allin">
      <p class="text_line2">
        Find your favourite bike <br />
        with the best price here
      </p>
      <br />
      <p class="text_line3">Second hand Bikes</p>
      <div class="row">
        <div class="navbar-search col-xs-3 col-sm-6 col-md-3 col-lg-3">
          <input
            class="navbar-input"
            type="text"
            placeholder="Search here..."
            name=""
          />
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <div>
            <select id="branch" name="branch" ngModel class="select_city">
              <option value="1">Bike..</option>
              <option value="1">CSE</option>
              <option value="2">ETC</option>
              <option value="3">Mechanical</option>
              <option value="4">Electrical</option>
            </select>
          </div>
        </div>
      </div>
      <button class="button button_card_2">Search</button>
    </div>
  </div>
  <!-- CATEGORIES WALA LINE -->
  <div class="row">
    <div class="col-lg-3 col-md-3">
      <hr />
    </div>
    <div class="col-lg-6 col-md-6">
      <p class="categories">
        C&nbsp;&nbsp;&nbsp;&nbsp;A&nbsp;&nbsp;&nbsp;&nbsp;T&nbsp;&nbsp;&nbsp;&nbsp;E&nbsp;&nbsp;&nbsp;&nbsp;G&nbsp;&nbsp;&nbsp;O&nbsp;&nbsp;&nbsp;&nbsp;R&nbsp;&nbsp;&nbsp;&nbsp;I&nbsp;&nbsp;&nbsp;&nbsp;E&nbsp;&nbsp;&nbsp;&nbsp;S
      </p>
    </div>
    <div class="col-lg-3 col-md-3">
      <hr />
    </div>
  </div>
</div>
