<div class="login-page">
  <!-- navbar  -->
  <app-navbar></app-navbar>
  <!-- card-1 -->
  <div>
    <div class="card card_around_1">
      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <div class="card-content">
            <p class="title title_card_1">
              Second Hand Premium <br />Bikes Here
            </p>

            <div style="padding-top: -1px">
              <p class="subtitle subtitle_card_1">
                Buy Your Bike <br />Easy & Affordable
              </p>
            </div>
          </div>
          <button class="button button_card_1">Details</button>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <div class="card image_card1">
            <div class="card-image">
              <figure>
                <img src="assets/bike.png" alt="Placeholder image" />
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row center-xs center-lg center-md center-sm">
    <div class class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text_line2_allin">
      <p class="text_line2">
        Find your favourite bike <br />
        with the best price here
      </p>
      <br />
      <p class="text_line3">Second hand Bikes</p>
      <div class="row">
        <div class="navbar-search col-xs-3 col-sm-6 col-md-3 col-lg-3">
          <input
            class="navbar-input"
            type="text"
            placeholder="Search here..."
            name=""
          />
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <div>
            <select id="branch" name="branch" ngModel class="select_city">
              <option value="1">Bike..</option>
              <option value="1">CSE</option>
              <option value="2">ETC</option>
              <option value="3">Mechanical</option>
              <option value="4">Electrical</option>
            </select>
          </div>
        </div>
      </div>
      <button class="button button_card_2">Search</button>
    </div>
  </div>
  <!-- CATEGORIES WALA LINE -->
  <div class="row">
    <div class="col-lg-3 col-md-3 sahiltag">
      <hr />
    </div>
    <div class="col-lg-6 col-md-6">
      <p class="categories t-center"></p>
      <!-- C&nbsp;&nbsp;&nbsp;&nbsp;A&nbsp;&nbsp;&nbsp;&nbsp;T&nbsp;&nbsp;&nbsp;&nbsp;E&nbsp;&nbsp;&nbsp;&nbsp;G&nbsp;&nbsp;&nbsp;O&nbsp;&nbsp;&nbsp;&nbsp;R&nbsp;&nbsp;&nbsp;&nbsp;I&nbsp;&nbsp;&nbsp;&nbsp;E&nbsp;&nbsp;&nbsp;&nbsp;S -->
      <!-- CATEGORIES -->
      <div class="row categories">
        <div class="colnew10">C</div>
        <div class="colnew10">A</div>
        <div class="colnew10">T</div>
        <div class="colnew10">E</div>
        <div class="colnew10">G</div>
        <div class="colnew10">O</div>
        <div class="colnew10">R</div>
        <div class="colnew10">I</div>
        <div class="colnew10">E</div>
        <div class="colnew10">S</div>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 sahiltag">
      <hr />
    </div>
  </div>

  <!-- CARDS BIKE -->

  <div class="row around-xs around-md around-lg">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 card_line_2_padding">
      <div class="card card_line_2">
        <div class="row center-lg center-xs">
          <p class="title iamgeInsideCards">Product</p>
        </div>
        <div class="card-content">
          <figure class="image">
            <img src="assets/bike.png" alt="Placeholder image" />
          </figure>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 card_line_2_padding">
      <div class="card card_line_2">
        <div class="row center-lg center-xs">
          <p class="title iamgeInsideCards">Product</p>
        </div>
        <div class="card-content">
          <figure class="image">
            <img src="assets/bike.png" alt="Placeholder image" />
          </figure>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 card_line_2_padding">
      <div class="card card_line_2">
        <div class="row center-lg center-xs">
          <p class="title iamgeInsideCards">Product</p>
        </div>
        <div class="card-content">
          <figure class="image">
            <img src="assets/bike.png" alt="Placeholder image" />
          </figure>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 card_line_2_padding">
      <div class="card card_line_2">
        <div class="row center-lg center-xs">
          <p class="title iamgeInsideCards">Product</p>
        </div>
        <div class="card-content">
          <figure class="image">
            <img src="assets/bike.png" alt="Placeholder image" />
          </figure>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 card_line_2_padding">
      <div class="card card_line_2">
        <div class="row center-lg center-xs">
          <p class="title iamgeInsideCards">Product</p>
        </div>
        <div class="card-content">
          <figure class="image">
            <img src="assets/bike.png" alt="Placeholder image" />
          </figure>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 card_line_2_padding">
      <div class="card card_line_2">
        <div class="row center-lg center-xs">
          <p class="title iamgeInsideCards">Product</p>
        </div>
        <div class="card-content">
          <figure class="image">
            <img src="assets/bike.png" alt="Placeholder image" />
          </figure>
        </div>
      </div>
    </div>
  </div>
  <div class="row center-lg center-xs">
    <div class="col-sm-6 col-md-6 col-lg-4">
      <p class="text_line2">Why Buy From GREEN TIGER?</p>
    </div>
  </div>

  <div class="row center-lg center-xs">
    <div class="col-sm-3 col-md-3 col-lg-3 card_line_3">
      <div class="card card_line_3_background">
        <div class="card-content" style="padding-top: 20%">
          <div class="center-lg">
            <p class="fonts">ICONS</p>
            <p class="fonts">Best Prices Bikes</p>
            <br />
            <p>Buy the bike you Love at best prizes</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3 col-xs-12 col-md-3 col-lg-3 card_line_3">
      <div class="card card_line_3_background">
        <div class="card-content" style="padding-top: 20%">
          <div class="center-lg">
            <p class="fonts">ICONS</p>
            <p class="fonts">100% Verified Bikes</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3 col-xs-12 col-md-3 col-lg-3 card_line_3">
      <div class="card card_line_3_background">
        <div class="card-content" style="padding-top: 20%">
          <div class="center-lg">
            <p class="fonts">
              <i class="far fa-lightbulb" style="font-size: 24px"></i>
            </p>
            <p class="fonts">Get Inspired</p>
            <br />
            <p>Looks for cool bikes</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Image Slider -->
  <div class="row">
    <div class="col-xs-12 col-lg-12 col-md-12" style="margin-top: 2%">
      <figure class="image is-3by1">
        <img src="assets/image23_04.PNG" />
      </figure>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-lg-12 col-md-12" style="margin-top: 2%">
      <figure>
        <div class="image">
          <img src="assets/tempsnip.png" alt="Placeholder image" />
          <h2>Buyer</h2>
          <br />

          <h1>
            Empower your factory <br />
            with a new lead channel
          </h1>
          <button class="button_create_buyer_account">
            Create a buyer account
          </button>
        </div>
      </figure>

      <!-- <figure>
        <img width="1300px" src="assets/tempsnip.png" />
      </figure> -->
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-lg-12 col-md-12" style="margin-top: 2%">
      <figure>
        <div class="image">
          <img src="assets/tempsnip1.png" alt="Placeholder image" />
          <h2 class="seller_h2">SUPPLIER</h2>
          <br />

          <h1 class="seller_h1">
            Grow with your store <br />
            with a new sales
          </h1>
          <button class="button_seller_buyer_account">
            Create a supplier account
          </button>
        </div>
      </figure>
    </div>
  </div>
  <div class="row center-lg center-xs">
    <div class="col-sm-6 col-md-6 col-lg-4">
      <p class="text_line2">Budget Bikes</p>
    </div>
  </div>
  <div class="row around-xs around-md around-lg">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 card_line_2_padding">
      <div class="card card_line_2">
        <div class="row center-lg center-xs"></div>
        <div class="card-content">
          <figure class="image">
            <img src="assets/bike.png" alt="Placeholder image" />
          </figure>
        </div>
        <div style="margin-left: 7%">
          <p style="font-weight: 900">Yamaha FZ125</p>
          <p style="font-weight: 900">₹75,000</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 card_line_2_padding">
      <div class="card card_line_2">
        <div class="row center-lg center-xs"></div>
        <div class="card-content">
          <figure class="image">
            <img src="assets/bike.png" alt="Placeholder image" />
          </figure>
        </div>
        <div style="margin-left: 7%">
          <p style="font-weight: 900">Yamaha FZ125</p>
          <p style="font-weight: 900">₹75,000</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 card_line_2_padding">
      <div class="card card_line_2">
        <div class="row center-lg center-xs"></div>
        <div class="card-content">
          <figure class="image">
            <img src="assets/bike.png" alt="Placeholder image" />
          </figure>
        </div>
        <div style="margin-left: 7%">
          <p style="font-weight: 900">Yamaha FZ125</p>
          <p style="font-weight: 900">₹75,000</p>
        </div>
      </div>
    </div>
  </div>
</div>
