<div class="login-page">
  <!-- navbar  -->
  <app-navbar></app-navbar>
  <!-- card-1 -->
  <div>
    <div class="card card_around_1">
      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <div class="card-content">
            <p class="title title_card_1">
              Second Hand Premium <br />Bikes Here
            </p>

            <div style="padding-top: -1px">
              <p class="subtitle subtitle_card_1">
                Buy Your Bike <br />Easy & Affordable
              </p>
            </div>
          </div>
          <button class="button button_card_1">Details</button>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <div class="card image_card1" style="border-radius: 0">
            <div class="card-image">
              <figure>
                <img src="assets/bike1.png" alt="Placeholder image" />
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row center-xs center-lg center-md center-sm">
    <div class class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text_line2_allin">
      <p class="text_line2">
        Find your favourite bike <br />
        with the best price here
      </p>
      <br />
      <p class="text_line3">Second hand Bikes</p>
      <div class="row">
        <div class="navbar-search col-xs-3 col-sm-6 col-md-6 col-lg-6">
          <input
            class="navbar-input"
            type="text"
            placeholder="Search here..."
            name=""
          />
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
          <div>
            <select id="branch" name="branch" ngModel class="select_city">
              <option value="1">Bike..</option>
              <option value="1">CSE</option>
              <option value="2">ETC</option>
              <option value="3">Mechanical</option>
              <option value="4">Electrical</option>
            </select>
          </div>
        </div>
      </div>
      <button class="button button_card_2">Search</button>
    </div>
  </div>
  <!-- CATEGORIES WALA LINE -->
  <div class="row">
    <div class="col-lg-3 col-md-3 sahiltag">
      <hr />
    </div>
    <div class="col-lg-6 col-md-6">
      <p class="categories t-center"></p>

      <div class="row categories" style="font-weight: 550">
        <div class="colnew10">C</div>
        <div class="colnew10">A</div>
        <div class="colnew10">T</div>
        <div class="colnew10">E</div>
        <div class="colnew10">G</div>
        <div class="colnew10">O</div>
        <div class="colnew10">R</div>
        <div class="colnew10">I</div>
        <div class="colnew10">E</div>
        <div class="colnew10">S</div>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 sahiltag">
      <hr />
    </div>
  </div>

  <!-- CARDS BIKE -->

  <div class="row around-xs around-md around-lg" style="padding: 15px">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 card_line_2_padding">
      <div class="card card_line_2">
        <div class="row center-lg center-xs">
          <p class="title iamgeInsideCards">Product</p>
        </div>
        <div class="card-content">
          <figure class="image">
            <img src="assets/card1.png" alt="Placeholder image" />
          </figure>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 card_line_2_padding">
      <div class="card card_line_2">
        <div class="row center-lg center-xs">
          <p class="title iamgeInsideCards">Product</p>
        </div>
        <div class="card-content">
          <figure class="image">
            <img src="assets/card1.png" alt="Placeholder image" />
          </figure>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 card_line_2_padding">
      <div class="card card_line_2">
        <div class="row center-lg center-xs">
          <p class="title iamgeInsideCards">Product</p>
        </div>
        <div class="card-content">
          <figure class="image">
            <img src="assets/card1.png" alt="Placeholder image" />
          </figure>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 card_line_2_padding">
      <div class="card card_line_2">
        <div class="row center-lg center-xs">
          <p class="title iamgeInsideCards">Product</p>
        </div>
        <div class="card-content">
          <figure class="image">
            <img src="assets/card1.png" alt="Placeholder image" />
          </figure>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 card_line_2_padding">
      <div class="card card_line_2">
        <div class="row center-lg center-xs">
          <p class="title iamgeInsideCards">Product</p>
        </div>
        <div class="card-content">
          <figure class="image">
            <img src="assets/card1.png" alt="Placeholder image" />
          </figure>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 card_line_2_padding">
      <div class="card card_line_2">
        <div class="row center-lg center-xs">
          <p class="title iamgeInsideCards">Product</p>
        </div>
        <div class="card-content">
          <figure class="image">
            <img src="assets/card1.png" alt="Placeholder image" />
          </figure>
        </div>
      </div>
    </div>
  </div>
  <div class="row center-lg center-xs">
    <div class="col-sm-12 col-xs-12 col-md-12 col-lg-6">
      <p class="text_line2">Why Buy From GREEN TIGER?</p>
    </div>
  </div>

  <div class="row center-lg center-xs">
    <div class="col-sm-3 col-md-3 col-lg-3 card_line_3">
      <div class="card card_line_3_background">
        <div class="card-content" style="padding-top: 13%">
          <div class="center-lg">
            <div class="icon_for_y_buy_from_Green_tiger">
              <img width="40px" height="40px" src="assets/create.png" alt="" />
            </div>
            <p class="fonts">Best Prices Bikes</p>
            <br />
            <p style="font-family: Roboto; font-weight: 400">
              Buy the bike you Love at best prizes
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3 col-xs-12 col-md-3 col-lg-3 card_line_3">
      <div class="card card_line_3_background">
        <div class="card-content" style="padding-top: 13%">
          <div class="center-lg">
            <div class="icon_for_y_buy_from_Green_tiger">
              <img
                width="40px"
                height="40px"
                src="assets/price-tag.png"
                alt=""
              />
            </div>
            <p class="fonts">100% Verified Bikes</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3 col-xs-12 col-md-3 col-lg-3 card_line_3">
      <div class="card card_line_3_background">
        <div class="card-content" style="padding-top: 13%">
          <div class="center-lg">
            <div class="icon_for_y_buy_from_Green_tiger">
              <img
                width="40px"
                height="40px"
                src="assets/creativity.png"
                alt=""
              />
            </div>
            <p class="fonts">Get Inspired</p>
            <br />
            <p style="font-family: Roboto; font-weight: 400">
              Looks for cool bikes
            </p>
            <br />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Image Slider -->
  <div class="row">
    <div class="col-xs-5 col-lg-5 col-md-5" style="margin: 0; padding: 0">
      <div style="padding-left: 2%; position: absolute">
        <img width="350px" height="350px" src="assets/house.png" alt="" />
      </div>
      <div class="scooter">
        <img width="230px" height="230px" src="assets/scooterpic.png" alt="" />
      </div>
      <div class="hand_image">
        <img width="230px" height="230px" src="assets/651.png" alt="" />
      </div>
    </div>
    <div class="col-xs-7 col-lg-7 col-md-7" style="margin: 0; padding: 0">
      <div class="slider_banner">
        <div class="slider_orange_div">
          <div id="pentagon"></div>
        </div>
        <div class="newclass35">
          <p>Sell Or Exchange Your Bike in Less</p>
          <p>Than 10 Min In *GREEN TIGER</p>
        </div>

        <div class="row center-lg center-md center-xs padding_images">
          <div class="col-sm-2 col-md-2 col-lg-4">
            <div class="row center-lg">
              <div class="icons_border">
                <img class="slider_icons" src="assets/price-tag1.png" />
              </div>
            </div>
            <div class="silder_p">
              <p>Best Price &</p>
              <p>Instant Paymet</p>
            </div>
          </div>
          <div class="col-sm-2 col-md-2 col-lg-4">
            <div class="row center-lg">
              <div class="icons_border">
                <img class="slider_icons" src="assets/ribbon.png" />
              </div>
            </div>
            <div class="silder_p">
              <p>Guaranteed</p>
              <p>Sale&Exchange</p>
            </div>
          </div>
          <div class="col-sm-3 col-md-3 col-lg-4">
            <div class="row center-lg">
              <div class="icons_border">
                <img class="slider_icons" src="assets/ribbon.png" />
              </div>
            </div>
            <div class="silder_p">
              <p>No Legal</p>
              <p>Hassle</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="col-xs-12 col-lg-12 col-md-12"
    style="margin-top: 2%; padding: 0px"
  >
    <figure class="image is-3by1">
      <img src="assets/image23_04.PNG" />
    </figure>
  </div>

  <div class="row">
    <div
      class="col-xs-12 col-lg-12 col-md-12"
      style="margin-top: 2%; padding: 0px"
    >
      <figure>
        <div class="image">
          <img src="assets/tempsnip.png" alt="Placeholder image" />
          <h2 class="new_buy" style="font-weight: 600">Buyer</h2>
          <br />

          <h1 class="new_buy">
            Empower your factory <br />
            with a new lead channel
          </h1>
          <button class="button_create_buyer_account">
            Create a buyer account
          </button>
        </div>
      </figure>

      <!-- <figure>
        <img width="1300px" src="assets/tempsnip.png" />
      </figure> -->
    </div>
  </div>
  <div class="row">
    <div
      class="col-xs-12 col-lg-12 col-md-12"
      style="margin-top: 2%; padding: 0px"
    >
      <figure>
        <div class="image">
          <img src="assets/tempsnip1.png" alt="Placeholder image" />
          <h2 class="seller_h2">SUPPLIER</h2>
          <br />

          <h1 class="seller_h1">
            Grow with your store <br />
            with a new sales
          </h1>
          <button class="button_seller_buyer_account">
            Create a supplier account
          </button>
        </div>
      </figure>
    </div>
  </div>
  <div class="row center-lg center-xs">
    <div class="col-sm-6 col-md-6 col-lg-4">
      <p class="text_line2">Budget Bikes</p>
    </div>
  </div>
  <div class="row around-xs around-md around-lg" style="padding: 15px">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 card_line_2_padding">
      <div class="card card_line_2">
        <div class="row center-lg center-xs"></div>
        <div class="card-content" style="padding-bottom: 1%">
          <figure class="image">
            <img src="assets/bike2.png" alt="Placeholder image" />
          </figure>
        </div>
        <div style="margin-left: 7%">
          <p style="font-weight: 900; color: #000000; opacity: 1">
            Yamaha FZ125
          </p>
          <div class="row">
            <div class="colnew10">
              <p style="font-weight: 900; color: #000000; opacity: 1">
                ₹75,000
              </p>
            </div>
            <div class="colnew10"></div>
            <div class="colnew10">
              <p
                style="
                  font-weight: 300;
                  text-decoration: line-through;
                  color: grey;
                "
              >
                ₹80,000
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 card_line_2_padding">
      <div class="card card_line_2">
        <div class="row center-lg center-xs"></div>
        <div class="card-content" style="padding-bottom: 1%">
          <figure class="image">
            <img src="assets/bike2.png" alt="Placeholder image" />
          </figure>
        </div>
        <div style="margin-left: 7%">
          <p style="font-weight: 900; color: #000000; opacity: 1">
            Yamaha FZ125
          </p>
          <div class="row">
            <div class="colnew10">
              <p style="font-weight: 900; color: #000000; opacity: 1">
                ₹75,000
              </p>
            </div>
            <div class="colnew10"></div>
            <div class="colnew10">
              <p
                style="
                  font-weight: 300;
                  text-decoration: line-through;
                  color: grey;
                "
              >
                ₹80,000
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 card_line_2_padding">
      <div class="card card_line_2">
        <div class="row center-lg center-xs"></div>
        <div class="card-content" style="padding-bottom: 1%">
          <figure class="image">
            <img src="assets/bike2.png" alt="Placeholder image" />
          </figure>
        </div>
        <div style="margin-left: 7%">
          <p style="font-weight: 900; color: #000000; opacity: 1">
            Yamaha FZ125
          </p>
          <div class="row">
            <div class="colnew10">
              <p style="font-weight: 900; color: #000000; opacity: 1">
                ₹75,000
              </p>
            </div>
            <div class="colnew10"></div>
            <div class="colnew10">
              <p
                style="
                  font-weight: 300;
                  text-decoration: line-through;
                  color: grey;
                "
              >
                ₹80,000
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="image_1" style="margin: 0; padding: 0">
    <div class="row">
      <div class="col-lg-6 col-xs-6 col-md-6">
        <img style="opacity: 0.6" src="assets/footer-bike1.png" alt="" />
      </div>
      <div class="col-lg-6 col-xs-6 col-md-6">
        <img style="opacity: 0.6" src="assets/footer-bike2.png" alt="" />
      </div>
    </div>
    <!-- <img src="assets/tempsnip1.png" alt="Bricks" /> -->
    <div class="image__overlay">
      <div class="row font-size" style="padding: 30px; padding-top: 6vw">
        <div style="padding: 10px">
          <ul>
            <li class="list_heading">SELL ON CHAMB</li>
            <li>Create accounts</li>
            <li>How ot works supplier</li>
            <li>Pricing</li>
            <li>FAQ for suppliers</li>
          </ul>
        </div>
        <div style="padding: 10px">
          <ul>
            <li class="list_heading">SELL ON CHAMB</li>
            <li>Create accounts</li>
            <li>How ot works supplier</li>
            <li>Pricing</li>
            <li>FAQ for suppliers</li>
          </ul>
        </div>
        <div style="padding: 10px">
          <ul>
            <li class="list_heading">SELL ON CHAMB</li>
            <li>Create accounts</li>
            <li>How ot works supplier</li>
            <li>Pricing</li>
            <li>FAQ for suppliers</li>
          </ul>
        </div>
        <div style="padding-bottom: 8.7vw; padding: 10px">
          <ul>
            <li class="list_heading">BIKES</li>
            <li>Second hand bikes</li>
          </ul>
        </div>
        <div style="padding-bottom: 6.5vw; padding: 10px">
          <ul>
            <li class="list_heading">CONTACT US</li>
            <li>Call Us 0000000</li>
            <li>For help</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <footer class="row row_footer middle-xs middle-lg middle-md">
    <img src="assets/logo.png" width="175x" height="43px" />

    <p class="all_rights_footer" style="color: #4f4f4f; opacity: 1">
      All Rights Reserved Company Name 2020
    </p>

    <div class="flex" style="width: 44vw">
      <p
        style="
          font-style: 'Roboto';
          color: #000000;
          opacity: 1;
          font-weight: 600;
          float: right;
        "
      >
        Follow &nbsp;:&nbsp;
        <!-- <div class="spcing_icons">:</div> -->
        <i class="fa fa-facebook-square spcing_icons"> </i
        ><i class="fa fa-twitter-square spcing_icons"></i>

        <i class="fa fa-linkedin-square"></i>
      </p>
    </div>
  </footer>
</div>
