<nav class="navbar" role="navigation" aria-label="main navigation">
  <img src="assets/logo.png" width="175x" height="43px" />

  <a
    role="button"
    class="navbar-burger"
    aria-label="menu"
    aria-expanded="false"
    data-target="navbarBasicExample"
  >
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
  </a>

  <div class="navbar-menu">
    <div class="menu_padding">
      <select
        id="branch"
        name="branch"
        ngModel
        class="form-control select_city"
      >
        <option value="1">City</option>
        <option value="1">CSE</option>
        <option value="2">ETC</option>
        <option value="3">Mechanical</option>
        <option value="4">Electrical</option>
      </select>
    </div>
    <div class="navbar-search">
      <input
        class="navbar-input"
        type="text"
        placeholder="Search here..."
        name=""
      />
    </div>
    <button class="navbar-search-btn">
      <i class="fa fa-search"></i>
    </button>
    <a class="navbar-item" style="padding-left: 5%"> Home </a>
    <a class="navbar-item" style="padding-left: 5%"> sell </a>
    <a class="navbar-item" style="padding-left: 5%"> Buy </a>
    <a class="navbar-item" style="padding-left: 5%"> Help </a>
    <a class="navbar-item" style="padding-left: 5%"> Login </a>
    <div class="navbar-item" style="padding-left: 5%">
      <div class="buttons">
        <a class="button signup">
          <strong>Sign up</strong>
        </a>
      </div>
    </div>
  </div>
</nav>

<!-- <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-end">
      <select
        id="branch"
        name="branch"
        ngModel
        class="form-control select_city"
      >
        <option value="1">City</option>
        <option value="1">CSE</option>
        <option value="2">ETC</option>
        <option value="3">Mechanical</option>
        <option value="4">Electrical</option>
      </select>

      <div class="navbar-search">
        <input
          class="navbar-input"
          type="text"
          placeholder="Search here..."
          name=""
        />
      </div>
      <button class="navbar-search-btn">
        <i class="fa fa-search"></i>
      </button>
      <a class="navbar-item"> Home </a>
      <a class="navbar-item"> sell </a>
      <a class="navbar-item"> Buy </a>
      <a class="navbar-item"> Help </a>
      <a class="navbar-item"> Login </a>
      <div class="navbar-item">
        <div class="buttons">
          <a class="button signup">
            <strong>Sign up</strong>
          </a>
        </div>
      </div>
    </div>
  </div> -->
