<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="brand_adjustment">
    <img src="assets/logo.png" width="175x" height="43px" />
  </div>

  <a
    role="button"
    class="navbar-burger"
    aria-label="menu"
    aria-expanded="false"
    data-target="navbarBasicExample"
  >
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
  </a>

  <div class="navbar-menu">
    <div class="menu_padding">
      <select
        id="branch"
        name="branch"
        ngModel
        class="form-control select_city"
      >
        <option value="1">City</option>
        <option value="1">CSE</option>
        <option value="2">ETC</option>
        <option value="3">Mechanical</option>
        <option value="4">Electrical</option>
      </select>
    </div>
    <div class="navbar-search">
      <input
        class="navbar-input navbarip_0105"
        type="text"
        placeholder="&#xF002; Search"
        style="font-family: Arial, FontAwesome"
        name=""
      />
    </div>
    <div class="navbar_search_button_div">
      <button class="navbar-search-btn">
        <i class="fa fa-search"></i>
      </button>
    </div>
    <a class="navbar-item navbaritem"> Home </a>
    <a class="navbar-item navbaritem"> sell </a>
    <a class="navbar-item navbaritem"> Buy </a>
    <a class="navbar-item navbaritem"> Help </a>
    <a class="navbar-item navbaritem"> Login </a>
    <div class="navbar-item navbaritem">
      <div class="buttons">
        <a class="button signup">
          <strong>Sign up</strong>
        </a>
      </div>
    </div>
  </div>
</nav>
