<mat-toolbar>
  <img
    width="175x"
    height="43px"
    class="navbar_image"
    src="assets/logo.png"
    alt=""
  />
  <select id="branch" name="branch" ngModel class="form-control select_city">
    <option value="1">City</option>
    <option value="1">CSE</option>
    <option value="2">ETC</option>
    <option value="3">Mechanical</option>
    <option value="4">Electrical</option>
  </select>

  <div class="navbar-search">
    <input
      class="navbar-input"
      type="text"
      placeholder="Search here..."
      name=""
    />
  </div>
  <button class="navbar-search-btn"><i class="fa fa-search"></i></button>

  <div class="topnav" id="myTopnav">
    <a href="#news">HOME</a>
    <a href="#contact">SELL</a>
    <a href="#about">BUY</a>
    <a href="#about">HELP</a>
    <a href="#about">LOGIN</a>
    <a href="javascript:void(0);" class="icon" (click)="myFunction()">
      <i class="fa fa-bars"></i>
    </a>
    <button class="signin_button">SIGN IN</button>
  </div>
</mat-toolbar>

<!-- <div class="topnav" id="myTopnav">
  <a href="#news">
    <img
      width="150x"
      height="37px"
      class="navbar_image"
      src="assets/logo.png"
      alt=""
    />
  </a> -->

<!-- <a href="#news" class="margi_style">
    <select id="branch" name="branch" ngModel class="form-control select_city">
      <option value="1">City</option>
      <option value="1">CSE</option>
      <option value="2">ETC</option>
      <option value="3">Mechanical</option>
      <option value="4">Electrical</option>
    </select>
  </a>
  <a href="#news" class="margi_style">
    <div class="navbar-search">
      <input
        class="navbar-input"
        type="text"
        placeholder="Search here..."
        name=""
      />
    </div>
  </a>
  <a href="#news" class="margi_style">
    <button class="navbar-search-btn"><i class="fa fa-search"></i></button>
  </a>

  <a href="#news">HOME</a>
  <a href="#contact">SELL</a>
  <a href="#about">BUY</a>
  <a href="#about">HELP</a>
  <a href="#about">LOGIN</a>
  <a href="javascript:void(0);" class="icon" (click)="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
  <button class="signin_button">SIGN IN</button>
</div>
<script></script> -->
